@use '../globals/variables'as var;
@use '../layout/media_queries'as *;

.footer {
    color: var(--dusty-white);
    height: 100%;

    .footer-wrapper {
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .footer-title {
        font-size: 3.125rem;
        font-family: var.$great-vibes;
    }

    .footer-desc {
        color: var(--dusty-white);
        font-size: 1rem;
        font-family: var.$open-sans;
    }

    .footer-img {
        height: 50vh;
        position: relative;
        overflow: hidden;

        img {
            //max-width: max-content;
            height: 100%;
            filter: brightness(0.6);

            @include breakpoint-up(md) {
                height: auto;
                width: 100%;
            }
        }
    }

    .wedding-socmed-icons {
        justify-content: space-evenly;

        @include breakpoint-up(md) {
            justify-content: center;
        }
    }

    .socmed-insta,
    .socmed-facebook {
        padding: 0 .3125rem;

        a {
            color: #fff;
        }
    }


    .footer-credits {
        bottom: 0;

        text-align: center;
        width: 100%;
        margin: auto;

        @include breakpoint-down(md) {
            padding: 5rem 0;
        }

        @include breakpoint-down(sm) {
            padding: .3125rem 0;
        }

        @include breakpoint-up(lg) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .credits-item {
            padding: 0 20px;
        }

    }


    .credits-auth {
        font-size: .75rem;

        a {
            color: var(--dusty-white);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .github-icon {
        text-align: center;
        margin: auto;

        a {
            color: #fff;
        }
    }

}