@use '../globals/variables'as var;
@use '../layout/media_queries'as *;

.fourth-section {
    background-color: var(--dusty-white);
    color: var(--text-color);
    height: auto;

    @include breakpoint-up(md) {
        height: 100%;
    }

    .our-story-wrapper {
        .above-title {
            font-family: var.$open-sans;
            text-transform: uppercase;
            font-size: .875rem;
            opacity: 40%;

            @include breakpoint-up(lg){
                font-size: 1rem;
                margin: 1rem 0;
            }
        }

        .our-story-title {
            font-size: 50px;
            font-family: var.$great-vibes;

            @include breakpoint-up(lg){
                font-size: 60px;
            }
        }

        .our-story-desc {
            font-size: 1rem;
            font-family: var.$open-sans;
            @include breakpoint-up(lg){
                width: 50%;
                margin: auto;
                font-size: 1.125rem;
            }
        }

    }


    .our-story-carousel-wrapper {
        .carousel-inner {
            border-radius: 10px;
            height: 80%;

        }

        .carousel-img-label-container {
            img {
                max-width: max-content;
            }

            .carousel-label {
                padding: 1rem;
                bottom: 0;
                width: 100%;
                background-color: #fff;
                margin: auto;
                color: var(--text-color);

                h5 {
                    font-size: .875rem;
                }

                p {
                    font-size: 1rem;
                }

            }

        }
    }

    // fourth-section web-view START
    .our-story-timeline-item {

        img {
            width: 24%;
            border-radius: 50%;
            border: .625rem solid var(--dusty-blue);
            margin: 0 auto;
        }

        .our-story-timeline-desc {

            p {
                font-size: 1.125rem;

                @include breakpoint-up(lg){
                    padding: 1.25rem 0;
                    text-align: center !important;
                    width: 70%;
                    
                }
            }
        }
    }

    .our-story-margin{
        margin: 11.25rem 0;
    }

    .our-story-divider {
        top: 50%;
        left: 50%;
        width: .125rem;
        height: 50rem;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #000000, $alpha: 0.4);
    }

    .our-story-dot {
        top: 20%;
        left: 50%;
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
    }

    // fourth-section web-view END
}