@use '../globals/variables'as var;
@use '../layout/media_queries'as *;


.hero-section {
    position: relative;

    .carousel-item {
        height: 100vh;
    }

    .carousel-item img {
        max-width: max-content;
        height: 100%;
        filter: brightness(0.6);
    }

    .hero-title-wrapper {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--dusty-white);

        .hero-title {
            font-size: 50px;
            font-family: var.$great-vibes;
            font-weight: 400;
        }

        .hero-date {
            font-size: 20px;
            font-family: var.$open-sans;
        }

        .hero-subtitle {
            font-size: 40px;
            font-family: var.$amatic;
            font-weight: 700;
        }
    }
}