@use '../globals/variables'as var;
@use '../layout/media_queries'as *;

.second-section {
    background-color: var(--dusty-blue);
    color: var(--text-color);
    height: 100%;

    .second-wrapper {
        @include breakpoint-up(md) {
            height: auto;
        }

    }

    .hello-wrapper {
        text-align: center;

        h1 {
            font-size: 50px;
            font-family: var.$great-vibes;
            font-weight: 400;

        }

        p {
            font-family: var.$open-sans;
            //font-style: italic;
            text-align: center;
            font-size: 16px;

            @include breakpoint-up(md) {
                font-size: 1.125rem;
            }
        }
    }

    .bride-and-groom {
        @include breakpoint-up(md) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .person-wrapper {
        @include breakpoint-down(sm) {
            justify-content: center;
        }

        @include breakpoint-up(md) {
            padding: 0 1.125rem;
        }

        img {
            width: 8.125rem;
            height: 8.125rem;
            border-radius: 50%;

            @include breakpoint-up(md) {
                width: 10.625rem;
                height: 10.625rem;
            }
        }

        .solo-name {
            font-size: 1.5rem;
            font-weight: 600;

            @include breakpoint-down(sm) {
                text-align: center;
            }
        }
    }

    .person-floyd {
        flex-direction: column;

        @include breakpoint-up(md) {
            flex-direction: row-reverse;
            font-size: 1rem;
        }
    }

    .floyd-desc {
        @include breakpoint-up(md) {
            padding-right: 1.875rem;
            width: 60%;
        }

        p {
            @include breakpoint-up(md) {
                text-align: right;
            }

            @include breakpoint-down(sm) {
                text-align: center;
            }

        }
    }

    .person-lea {
        flex-direction: column;

        @include breakpoint-up(md) {
            flex-direction: row;
            font-size: 1rem;
        }
    }

    .lea-desc {
        transition-delay: 300ms;
        @include breakpoint-up(md) {
            padding-left: 1.875rem;
            width: 60%;
        }

        p {
            @include breakpoint-up(md) {
                text-align: left;
            }

            @include breakpoint-down(sm) {
                text-align: center;
            }

        }
    }

    .heart-icon {
        svg {
            width: 100%;
            height: 3.125rem;
        }
    }

    .introduction-wrapper {
        .wed-introduction {

            font-family: var.$open-sans;
            line-height: 1.8;

            @include breakpoint-up(lg) {
                width: 50%;
                margin: auto;
                font-size: 1.125rem;
                line-height: 2;

            }

        }
    }

    
}