@use '../globals/variables'as var;
@use '../layout/media_queries'as *;

.third-section {
    .me-300 {
        margin-right: 31.25rem;

        @include breakpoint-up(lg) {
            margin-right: 0;
        }
    }

    .location-title-wrapper {
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        padding: 3.125rem 1rem;

        .location-text {
            padding: 1rem 0;
            font-size: 20px;

            @include breakpoint-up(lg){
                font-size: 24px;
            }
        }

        h1 {
            font-family: var.$great-vibes;
            font-size: 3.125rem;

            @include breakpoint-up(lg) {
                font-size: 5rem;
            }

        }

        .location-address {
            img {
                width: 25px;
                height: 25px;

                @include breakpoint-up(lg) {
                    width: 50px;
                    height: 50px;
                }
            }

            h2 {
                font-family: var.$open-sans;
            }
        }


    }

    .location-map-wrapper {
        iframe {
            width: 23.125rem;
            height: 25.625rem;

            @include breakpoint-up(md) {
                width: 37.5rem;
                height: 34.375rem;
            }

            @include breakpoint-up(lg) {
                width: 77.875rem;
                height: 31.25rem;
            }
        }
    }


    .location-wrapper {
        .location-bg-container {
            height: 100vh;
            position: relative;
            overflow: hidden;

            img {
                max-width: max-content;
                height: 100%;
                filter: brightness(0.6);

                @include breakpoint-up(md) {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

}