@use 'variables'as var;
@use "../layout/media_queries"as *;


html {
    box-sizing: border-box;
    font-size: 100%;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active,
a:hover,
p {
    text-decoration: none !important;
    color: var(--text-color);
    
}

ul,
ul::before,
ul::after {
    list-style: none;
}

.hide-for-desktop {
    @include breakpoint-up(lg) {
        display: none;
    }
}
.hide-for-tablet {
    @include breakpoint-up(md) {
        display: none;
    }
}

.hide-for-mobile {
    @include breakpoint-down(sm) {
        display: none;
    }
}